<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'javits.ico' %}"/>
  {% block head %}
    <title>Home</title>
  {% endblock %}
</head>
{% block nav %}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" href="/">HOME</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

    {% if user.is_authenticated %}
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/addmac/">Add: MAC</a></li>
          <li class="nav-item"><a class="nav-link" href="/addssid/">Add: SSID</a></li>
          <li class="nav-item"><a class="nav-link" href="/removemac/">Remove: MAC</a></li>
          <li class="nav-item"><a class="nav-link" href="/removessid/">Remove: SSID</a></li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Equipment</a>
              <div class="dropdown-menu">
              <a class="dropdown-item" href="/receipt/">Create Receipt</a>
              <a class="dropdown-item" href="/inventory/">Inventory & Equipment Status</a>
              <a class="dropdown-item" href="/newitem/">Add Equipment to Database</a>
            <a class="dropdown-item" href="#"></a>

          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">Other</a>
              <div class="dropdown-menu">
              <a class="dropdown-item" href="/scriptlog/">Script Log</a>
              <a class="dropdown-item" href="/info">Info</a>
                {% if request.user.is_superuser %}
                <!--THIS PAGE WILL BE USED TO PUSH NEW SCRIPTS OR NEW VERSIONS OF OLD SCRIPTS TO ALL USER FOLDERS-->
                <a class="dropdown-item" href="/updatescript/">Script Manager</a>
                <a class="dropdown-item" href="/admin/auth/user/">Account Manager</a>
                {% endif %}
            <a class="dropdown-item" href="#"></a>
            </div></li>

          <li class="nav-item"><a class="nav-link disabled" href="">    </a></li>
          <li class="nav-item"><a class="nav-link" href="/accounts/logout">Sign Out</a></li>
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

        </ul>
      </div>
      {% endif %}
    </nav>

<br>
{% endblock %}

<div class="container">
  {% block header %}
      <h2>Welcome to Maverick</h2>
  {% endblock %}
  {% if user.is_authenticated %}
      {% if request.user.is_superuser %}
    <div>
          <a href="/admin/"> Hey {{request.user.first_name}}!</a> 
	  <!--<img src="https://i.stack.imgur.com/SBv4T.gif" alt="profile picture" class="rounded float-left" width=70/> -->
    </div>
      {% else %}
    <h6>Hello {{ request.user.first_name }}!</h6>
      {% endif %}
  {% else %}
    <p></p>
  {% endif %}

  <body>
    {% block body %}
    {% endblock %}
  </body>

</div>
</body>
</html>
</body>
</html>