{% extends 'base.html' %}
{% block head %}
    <title>Change Password</title>
{% endblock %}

{% block header %}
    <h2>Change Password</h2>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
            <p>Change password to match AD.</p><hr/>

{{form.errors}}
<form method="post"> {% csrf_token %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

    Changing Password for User: <strong>{{request.user}}</strong><br>
    <hr>
    Old Password:<br>
    {{form.old_password}}
    <br><br>
    New Password:<br>
    {{form.new_password1}}
    <br><br>
    New Password Again:<br>
    {{form.new_password2}}
    <br><hr>
    <button type="submit">Submit</button>
</form>

    {% else %}
    <a href="/accounts/login" class="btn btn-info" role="button">Click here to Login</a>
    {% endif %}
{% endblock %}